@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 10%;
}

.control, .textarea, .input{
    width: 300px;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.button{
    width: 100%;
    font-weight: 600;
}

